body {
	margin: 0;
	padding: 0;
	font-family: 'Work Sans', sans-serif;
	font-size: 20px;
	font-weight: 300;
}

.wrapper {
	width: 100%;
}

header {
	font-size: 60px;
	text-align: center;
	padding: 1.45%;
}

/* Section which contains the blue bar and the problems one to three */
.problem-bar {
	position: relative;
	display: inline-block;
	width: 97%;
	margin-left: 1.5%;
	margin-right: 1.5%;
}

.problem-bar-left {
	float: left;
	width: 33.333%;
	background-color: #1F295A;
	opacity: 0.95;
	height: 35px;
	border-radius: 3px 0 0 3px;
	color: #fff;
}

.problem-bar-right {
	float: right;
	width: 33.333%;
	background-color: #1F295A;
	opacity: 0.95;
	height: 35px;
	border-radius: 0 3px 3px 0;
	color: #fff;
}

.problem-bar-mid {
	margin: auto;
	width: 33.333%;
	background-color: #1F295A;
	opacity: 0.95;
	height: 35px;
	color: #fff;
}

p.problem {
	display: inline;
	position: relative;
	top: 5px;
}

.problem-1 {
	left: 37.5%;
}

.problem-3 {
	left: 37.5%;
}

.problem-2 {
	left: 37.5%;
}

/* Section which contains the content of the three problems */
.content {
	position: relative;
	width: 100%;
}

.content-1 {
	position: absolute;
	width: 30.333%;
	padding: 2% 1% 2% 2%;
	text-align: center;
}

.content-2 {
	position: absolute;
	text-align: center;
	width: 30.333%;
	padding: 2% 1.5%;
	left: 33.5%;
}

.content-3 {
	position: absolute;
	width: 30.333%;
	padding: 2% 2% 2% 1%;
	text-align: center;
	right: 0%;
}

.text-size {
	font-size: 19px;
}

/* Section which contains the input fields of the three corresponding problems */
.input-bar {
	width: 100%;
	display: inline;
	position: absolute;
	top: 645px;
}

input.input {
	padding: 6px 30px;
	text-align: center;
	border: 1px solid #cecece;
	border-radius: 2px;
	background-color: #fff;
	color: #000;
}

.input-1 {
	position: relative;
	list-style: none;
	display: inline;
	left: 10.3%;
}

.input-2 {
	position: relative;
	list-style: none;
	display: inline;
	left: 30%;
}

.input-3 {
	position: relative;
	list-style: none;
	display: inline;
	left: 49.6%;
}

/* Section which contains the buttons of the three corresponding problems */
.solution-bar {
	width: 100%;
	display: inline;
	position: absolute;
	top: 680px;
}

input.button {
	cursor: pointer;
	padding: 3px 40px;
	border: 1px;
	border-radius: 2px;
	background-color: #1F295A;
	font-family: 'Work Sans', sans-serif;
	font-size: 20px;
	font-weight: 300;
	color: #fff;
	box-shadow: 5px 5px 8px #cecece;
}

.calculate-1 {
	position: relative;
	list-style: none;
	display: inline;
	left: 11%;
}

.calculate-2 {
	position: relative;
	list-style: none;
	display: inline;
	left: 32%;
}

.calculate-3 {
	position: relative;
	list-style: none;
	display: inline;
	left: 53%;
}